:root {
    --char-prim: #FFCE00;
    --char-sec: #FE4880;
    --bulba-prim: #89be16;
    --bulba-sec: #1a7266;
    --dark: #212121;
    --light: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    /* background-image: linear-gradient(to bottom right, var(--char-prim), var(--char-sec)); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front[poke1] {
    background-image: linear-gradient(to bottom right, var(--char-prim), var(--char-sec));
}

.card__face--front[poke2] {
    background-image: linear-gradient(to bottom right, var(--bulba-prim), var(--bulba-sec));
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    padding: 30px 30px 40px;
}

.font__header {
    font-style: italic;
    color: white;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    /* background-image: linear-gradient(to bottom left, var(--char-prim), var(--char-sec)); */
}

.card__header[poke1]:after {
    background-image: linear-gradient(to bottom left, var(--char-prim), var(--char-sec));
}

.card__header[poke2]:after {
    background-image: linear-gradient(to bottom left, var(--bulba-prim) 20%, var(--bulba-sec) 120%);
}

.picture {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
    /* object-fit: cover; */
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.5);
}

.card__body {
    padding: 30px;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body p {
    color: var(--dark);
    font-size: 16px;
    line-height: 1.5;
}

.card__body p {
    text-align: justify;
    font-weight: 400;
}

.card__body p::first-letter {
    font-size: 20px;
    font-weight: bold;
}

.card__body[poke1] p::first-letter {
    color: var(--char-sec);
}

.card__body[poke2] p::first-letter {
    color: var(--bulba-sec);
}